<div class="row">
    <div class="col-lg-6">
        <h2>{{accion}} Empleado</h2>
    </div>
</div>
<!-- <pre>{{myForm.value | json}}</pre> -->
<div class="row">
    <div class="col-lg-4">
        <form [formGroup]="myForm">
            <div class="col-lg-12 mb-2">
                <mat-form-field appearance="outline" class="matFormFiel">
                    <mat-label>Nombre Completo</mat-label>
                    <input matInput formControlName="nombreCompleto">
                </mat-form-field>
                <div *ngIf="myForm.get('nombreCompleto')?.hasError('required') && myForm.get('nombreCompleto')?.touched" style="margin-top: -20px;">
                    <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
                </div>
                <div *ngIf="myForm.get('nombreCompleto')?.hasError('maxlength') && myForm.get('nombreCompleto')?.touched" style="margin-top: -20px;">
                    <span class="mda-form-msg">Este campo debe tener como maximo <strong>20 caracteres</strong></span>
                </div>
            </div>
            <div class="col-lg-12 mb-2">
                <mat-form-field appearance="outline" class="matFormFiel">
                    <mat-label>Correo</mat-label>
                    <input matInput formControlName="correo">
                </mat-form-field>
                <div *ngIf="myForm.get('correo')?.hasError('required') && myForm.get('correo')?.touched" style="margin-top: -20px;">
                    <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
                </div>
                <div *ngIf="myForm.get('correo')?.hasError('email') && myForm.get('correo')?.touched" style="margin-top: -20px;">
                    <span class="mda-form-msg">Este campo debe ser de tipo <strong>email</strong></span>
                </div>

            </div>
            <div class="col-lg-12 mb-2">
                <mat-form-field appearance="outline"  class="matFormFiel">
                    <mat-label>Fecha Ingreso</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="fechaIngreso">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker></mat-datepicker>
                </mat-form-field>
                <div *ngIf="myForm.get('fechaIngreso')?.hasError('required') && myForm.get('fechaIngreso')?.touched" style="margin-top: 9px;">
                    <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
                </div>

            </div>
            <div class="col-lg-12 mb-2">
                <mat-form-field appearance="outline" class="matFormFiel">
                    <mat-label>Telefono</mat-label>
                    <input matInput formControlName="telefono">
                </mat-form-field>
                <div *ngIf="myForm.get('telefono')?.hasError('required') && myForm.get('telefono')?.touched" style="margin-top: -20px;">
                    <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
                </div>
            </div>
            <div class="col-lg-12 mb-2">
                <mat-form-field appearance="outline" class="matFormFiel">
                    <mat-label>Estado Civil</mat-label>
                    <mat-select formControlName="estadoCivil">
                        <mat-option *ngFor="let estadoCivil of estadosCiviles" [value]="estadoCivil">
                            {{estadoCivil}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngIf="myForm.get('estadoCivil')?.hasError('required') && myForm.get('estadoCivil')?.touched" style="margin-top: -20px;">
                    <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
                </div>
            </div>
            <div class="col-lg-12 mb-2">
                <mat-radio-group aria-label="Seleccione" class="matFormFiel" formControlName="sexo">
                    <mat-radio-button value="Masculino" style="margin-right: 10px;">Masculino</mat-radio-button>
                    <mat-radio-button value="Femenino">Femenino</mat-radio-button>
                </mat-radio-group>
                <div *ngIf="myForm.get('sexo')?.hasError('required') && myForm.get('sexo')?.touched" style="margin-top: -20px;">
                    <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
                </div>
            </div>
            <div class="col-lg-12 mb-2">
                <button mat-raised-button color="warn" style="margin-right: 10px;" routerLink="/" type="button">Cancelar</button>
                <button (click)="guardarEmpleado()" [disabled]="myForm.invalid" mat-raised-button color="primary" type="button">Aceptar</button>
            </div>
        </form>
    </div>

    <div class="col-lg-4 offset-lg-2">
        <img src="..//../../assets/img/crear-usuario.jpg" alt="img-crear-usuario" width="95%" height="95%">
    </div>
</div>